data/
*.sw*
nfs*
.idea/
CIFAR-10/__pycache__
CIFAR-10/models/__pycache__
CIFAR-10/losses/__pycache__
__pycache__
# Results
CIFAR-10/softmax_increase_confidence
CIFAR-10/softmax_increase_experts
CIFAR-10/ova_increase_confidence
CIFAR-10/ova_increase_experts

.vscode

.ipynb_checkpoints/
