data/
*.sw*
nfs*
.idea/
CIFAR-10/__pycache__
CIFAR-10/models/__pycache__
CIFAR-10/losses/__pycache__
__pycache__
# Results
*.pt
ham10000/HAM10000/
ham10000/HAM10000_metadata
ham10000/Data/
Galaxy-Zoo/old*/
Galaxy-Zoo/*.pkl
*.job
*.csv
figs/
Galaxy-Zoo/images_training_rev1/
Galaxy-Zoo/results/
Galaxy-Zoo/training_solutions_rev1.csv
Galaxy-Zoo/Models
Galaxy-Zoo/galaxy_data.pkl

.vscode

.ipynb_checkpoints/
